{% extends 'home.html'%}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content%}
 
   <div class="row" >
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <form id="form" method="POST">
                {% csrf_token %}
                {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}
                <div id="shipping-info">
                    <hr>
                    <p>Shipping Information:</p>
                    <hr>
                    
                    
                    <div class="form-field">
                        <input class="form-control" type="text" name="address" placeholder="Address">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="city" placeholder="City..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="state" placeholder="State..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="pincode" placeholder="Zip code..">
                    </div>
                   
                </div>

                <hr>
                <input id="form-button" class="btn btn-success btn-block" type="submit" value="Update and order">
            </form>
        </div>

        <br>
        <div class="box-element hidden" id="payment-info">
            <small>Paypal Options</small>
            <!--<button id="make-payment">Make payment</button>-->
            <div id="paypal-button-container"></div>
        </div>
        
    </div>

   </div>
</body>
</html>
{% endblock %}